.auth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
}