.task {
  display: block; 
  padding: 20px 20px 5px 20px;
  box-sizing: border-box;
  background-color: #222;
  border-radius: 20px;
  margin: 0 0 5px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}