.input__field {
  border: 0;
  outline: none;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  background-color: #333;
  padding: 5px 10px;
  box-sizing: border-box;
  color: white;
}
.input__field:hover {
  outline: 1px gray solid;
}
.input__field:focus {
  outline: 1px white solid;
}