.task__todo-checkbox {
  position: relative;
  margin: 0 10px 0 0;
}
.task__todo-checkbox::after {
  content: "";
  left: -3px;
  top: -3px;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 148;
  background-color: #222;
  border-radius: 5px;
  transition: 200ms;
  cursor: pointer;
  background-position: 0 50px;
  background-size: 0%;
  background-repeat: no-repeat;
  background-image: url(/images/verification_checkmark_symbol_u7aa5jwdkwt0.svg);
}
.task__todo-checkbox:hover::after {
  background-color: #444;
}
.task__todo-checkbox:checked::after {
  background-color: white;
  background-position: center;
  background-size: 70%;
}