.workspace__container-task {
  padding: 0 10px;
  box-sizing: border-box;
	column-count: 2;
	column-gap: 10px;
  width: 100%;
  transition: 0.2s;
}
@media screen and (min-width: 1000px) {
  .workspace__container-task {
    column-count: 3;
  }
}
@media screen and (min-width: 1300px) {
  .workspace__container-task {
    column-count: 4;  
  }
}
